Syslog			   yes
SyslogSuccess  yes
LogWhy         yes
UMask			     002

Domain		{{ansible_fqdn}}
KeyFile		/etc/postfix/mail.private
UserID    opendkim:opendkim
Mode      sv
Selector	mail
Socket    inet:8891@localhost
